h1 {
	margin-top: 0px; 
}

h1, h2, h3 {
	text-align: center;
	color: white;
}

p, li {
	color: white;	
}

body {	
	margin: 0;	
}

/*
table, th, td {

}

td {
	background-color: #6699FF;
}
*/

.cassandra {
	height: 100vh;
	background-color: #3366FF; 
	background-image: url("../stars.jpg"); 
	background-repeat: repeat; 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

label {
	display: inline-block;
	width: 200px;
	margin: 0 .4em 0 0;
	text-align: right;
}

/* Game (begin) */

.game__playground {
	overflow: hidden;
	position: relative;
}

.game__panelpaint {
	float: left;
	width: 506px;
	text-align: center;
}

.game__panelguess {
	
	text-align: center;
}

.game__button {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 10px;
	background-color: #003399;
	border-radius: 5px;
	border: solid 5px #003399;
	color: white;
}

.game__button:hover {
	background-color: #111166;
	border: solid 5px #111166;
}

.game {
	overflow: hidden;
	width: 800px;
	margin: 0 auto;
	position: relative;	
}

.paintarea {	
	background-color: white;
	float: left;
	height: 400px;
	left: 0;
	display: inline-block;
	width: 500px;
	border: solid 3px #B2D1FF; 
	border-radius: 5px;
}

.paintarea__canvas {	
	position: absolute;
}


.userschat {
	height: 100%;
	position: absolute;
	float: left;
	padding: 3px;
	display: inline-block;
	width: 250px;
	margin: 0 0 0 20px;
}

.chat {
	position: absolute;
	margin: 5px;
	bottom: 0px;
}

.chat__area {
	height: 200px;	
	background-color: white;
	border: solid 1px #8B8989;
	border-radius: 5px;
}

.chat__input {
	display: block;
	float: left;
	width: 75%;
	padding-right: 0px;
	padding-left: 0px;
	box-sizing: border-box;	
}

.chat__button {	
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 10pt;
	width: 25%;
	float: right;
	margin: 2px 0px;
	background-color: #003399;
	border-radius: 5px;
	border: solid 1px #003399;
	color: white;
}

.chat__button:hover {
	background-color: #111166;
	border: solid 1px #111166;
}

.chat__message {
	margin: 0px;
	font-size: 10pt;
	font-style: italic;
	color: #000000;

}



/* Game (end) */

/* Login (begin) */

.login {
	margin: 0 auto;
	width: 600px;
}

/* Login (end) */

/* Menu (begin) */

.menu {
	margin: 0 auto;
	width: 300px;
}

.menu__button {
	margin: 4px auto;
	display: block;
	border-radius: 10px;
	height: 40px;
	line-height: 40px;
	width: 180px;
	color: white;
	background-color: #003399;
	/* background-color: #003399; */
	font-size: 15pt;
	text-align: center;
	text-decoration: none;
}

.menu__button:hover {
	background-color: #111166;
}

/* Menu (end) */

/* Scoreboard (begin) */

.scoreboard__list {
	margin: 0 auto;
	width: 200px;
}

.scoretable {
	border: 0px solid white;
    color: white;	
	margin: 0 auto; 
	margin-bottom: 20px;
	width: 200px;	
}

.scoretable__left {
	border: 1px solid white;
	background-color: #6699FF;
	color: white;
	width: 60%;
	text-align: left;
}

.scoretable__right {
	border: 1px solid white;
	background-color: #6699FF;	
	color: white;
	text-align: center;	
}

.scoretablehead__left {
	border: 1px solid white;
	background-color: #003399;
	color: white;
	width: 60%;
	text-align: center;
}

.scoretablehead__right {
	border: 1px solid white;
	background-color: #003399;	
	color: white;
	text-align: center;	
}

/* Scoreboard (end) */

/* Signup (begin) */

.signup {
	margin: 0 auto;
	width: 600px;
}

/* Signup (end) */

.login__form-submit,
.signup__form-submit
{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 15pt;
	margin: 4px auto;
	display: block;
	border-radius: 10px;
	border: solid 1px #003399;
	height: 40px;
	width: 180px;
	color: white;
	background-color: #003399;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.login__form-submit:hover,
.signup__form-submit:hover {
	background-color: #111166;	
	border: solid 1px #111166;
}

