.menu__button {
	margin: 4px;
	display: block;
	border-radius: 10px;
	height: 35px;
	line-height: 35px;
	width: 140px;
	color: white;
	background-color: purple;
	text-align: center;
	text-decoration: none;
}

.game__button {
	background-color: purple;
	border-radius: 5px;
	border: solid 1px purple;
	color: white;
}

.game {
	/* width: 100%; */
	overflow: hidden;
	width: 800px;
	position: relative;	
}

.paintarea {	
	position: absolute;
	height: 98%;
	left: 0;
	display: inline-block;
	width: 60%;
	border: solid 3px purple; 
	border-radius: 5px;
	float: left;
}

.userschat {
	padding: 3px;
	display: inline-block;
	width: 30%;
	float: right;
}

.chat__area {
	height: 100px;
	width: 201px;
	border: solid 1px #8B8989;
	border-radius: 5px;
}

.chat__input {
	width: 140px;
}

.formtable {
	display: table;
	margin: 25px;
}
.formtable__row {
	display: table-row;
}

.formtable__label {
	display: table-cell;
}

.formtable__input {
	display: table-cell;
}

.loginform__button,
.signupform__button
{
	margin: 4px;
	display: block;
	border-radius: 10px;
	border: solid 1px purple;
	height: 35px;	
	width: 140px;
	color: white;
	background-color: purple;
	text-align: center;
	text-decoration: none;
}