h1, h2, h3 {
	text-align: center;
}

label {
	display: inline-block;
	width: 200px;
	margin: 0 .4em 0 0;
	text-align: right;
}

/* Game (begin) */

.game__playground {
	overflow: hidden;
}

.game__buttonwrap {
	text-align: center;
}

.game__button {
	margin: 10px;
	background-color: purple;
	border-radius: 5px;
	border: solid 5px purple;
	color: white;
}

.game__button:hover {
	background-color: #800020;
	border: solid 5px #800020;
}

.game {
	overflow: hidden;
	width: 800px;
	margin: 0 auto;
	position: relative;	
}

.paintarea {	
	float: left;
	height: 400px;
	left: 0;
	display: inline-block;
	width: 500px;
	border: solid 3px purple; 
	border-radius: 5px;
}

.userschat {
	float: left;
	padding: 3px;
	display: inline-block;
	width: 250px;
	margin: 0 0 0 20px;
}

.chat__area {
	height: 100px;
	width: 250px;
	border: solid 1px #8B8989;
	border-radius: 5px;
}

.chat__input {
	float: left;
	width: 150px;
}

.chat__button {	
	float: right;
	margin: 2px 0px;
	background-color: purple;
	border-radius: 5px;
	border: solid 1px purple;
	color: white;
}

.chat__button:hover {
	background-color: #800020;
}

/* Game (end) */

/* Login (begin) */

.login {
	margin: 0 auto;
	width: 600px;
}

/* Login (end) */

/* Menu (begin) */

.menu {
	margin: 0 auto;
	width: 300px;
}

.menu__button {
	margin: 4px auto;
	display: block;
	border-radius: 10px;
	height: 35px;
	line-height: 35px;
	width: 140px;
	color: white;
	background-color: #800080;
	text-align: center;
	text-decoration: none;
}

.menu__button:hover {
	background-color: #750030;
}

/* Menu (end) */

/* Scoreboard (begin) */

.scoreboard__list {
	margin: 0 auto;
	width: 200px;
}

/* Scoreboard (end) */

/* Signup (begin) */

.signup {
	margin: 0 auto;
	width: 600px;
}

/* Signup (end) */

.login__form-submit,
.signup__form-submit
{
	margin: 4px auto;
	display: block;
	border-radius: 10px;
	border: solid 1px purple;
	height: 35px;	
	width: 140px;
	color: white;
	background-color: purple;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.login__form-submit:hover,
.signup__form-submit:hover {
	background-color: #750030;	
}

