@mixin roundedBottom($radius) {
	border-radius: 0px 0px $radius $radius;
}

@mixin roundedTop($radius) {
	border-radius: $radius $radius 0px 0px;
}

@mixin rounded($radius) {
	border-radius: $radius $radius $radius $radius;
}

.background {
	@include roundedBottom (10px);
	margin: 0 auto;
	width: 400px;
	background-color: $menuColor;	
	overflow: auto;
	color: $menuTextColor;
	border: solid 1px 0px 1px 1px $menuTextColor;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.controlPanelElem {
	color: white;
	margin: 10px;
	height: 30px;
}

.controlButton {
	color: white;
	font-family: $font;
	font-size: 12pt;
	background-color: $buttonColor;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(#000, 0.5);
	cursor: pointer;
	padding: 0 11px;

	&:hover {
		background-color: $buttonHoverColor;
	}
}

.formInput {
	float: right; 
	width: 200px;
}

.formLabel {
	display: inline-block;
	margin: 0 .4em 0 0;
	text-align: left;
	color: $menuTextColor;
}

.buttonBase {
	background-color: $buttonColor;
	color: white;
	font-family: $font;
}

.button {
	@extend .buttonBase;
	margin: 4px auto;
	font-size: 15pt;
	display: block;
	@include rounded ($buttonRadius);
	height: $buttonHeight;
	width: $buttonWidth;
	text-align: center;
	text-decoration: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.buttonHover {
	background-color: $buttonHoverColor;	
}

.returnbutton {
	@extend .button;
	line-height: 40px;
}

.submit {	
	@extend .button;	
	border: solid 1px $buttonColor;
	cursor: pointer;
}

.submitHover {
	@extend .buttonHover;
	border: solid 1px $buttonHoverColor;
}

