.userschat {
	background-color: $gamePanelColor;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 20px 20px 0px 0px;
	height: 100%;
	position: absolute;
	float: left;
	padding: $userschatPadding;
	display: inline-block;
	width: $userschatWidth;
	margin: 10px 0 0 20px;
}

.users {
	font-size: 12pt; 
	margin-right: 10px;
	margin-left: 10px;
	color: white;
	overflow: auto;

	&__header {
		background-color: $buttonColor;
		border-radius: 5px;
	}
}

.chat {
	position: absolute;
	margin: 5px;
	bottom: 10px;

	&__area {
		overflow-y: auto;
		word-wrap: break-word; 
		width: 240px;
		height: 200px;	
		background-color: white;
		border: solid 1px #1B50BA;
		border-radius: 5px;
	}

	&__message {
			margin: 0px;
			font-size: 10pt;
			font-style: italic;
			color: #000000;
	}

	&__sysmessage {
			margin: 0px;
			font-size: 10pt;
			font-style: italic;
			font-weight: bold;
			color: red;
	}

	&__input {
		display: block;
		float: left;
		width: 75%;
		padding-right: 0px;
		padding-left: 0px;
		margin-top: 2px;
		border: solid 1px #1B50BA;
		border-radius: 1px;
		box-sizing: border-box;	
	}

	&__button {	
		@extend .buttonBase;
		font-size: 10pt;
		width: 24%;
		float: right;
		margin: 2px 0px;
		border-radius: 5px;
		border: solid 1px $buttonColor;

		&:hover {
			@extend .submitHover;
		}
	}

	
}

