.userschat {
	background-color: $gamePanelColor;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	@include rounded($rightBorderRadius);
	
	position: absolute;
	padding: $userschatPadding;
	display: inline-block;
	width: $userschatWidth;
	top: 0;
	bottom: 0;
	margin: 10px 0px 10px 20px;
}

.users {
	font-size: 12pt; 
	margin: 0 auto;
	color: white;
	overflow: auto;

	&__header {
		text-align: center;
		margin-top: 0px;
		font-size: 14pt;
		text-align: center;
		background-color: #3D60A8;
		border-radius: $rightBorderRadius;
	}
}

.chat {
	position: absolute;
	margin: 5px;
	bottom: 0px;

	&__area {
		overflow-y: auto;
		word-wrap: break-word; 
		width: 240px;
		height: 200px;	
		background-color: white;
		border: solid 1px #1B50BA;
		border-radius: 5px;
	}

	&__message {
			margin: 0px;
			font-size: 10pt;
			font-style: italic;
			color: #000000;
	}

	&__sysmessage {
			margin: 0px;
			font-size: 10pt;
			font-style: italic;
			font-weight: bold;
			color: #DB3838;
	}

	&__input {
		display: block;
		float: left;
		width: 75%;
		padding-right: 0px;
		padding-left: 0px;
		margin-top: 2px;
		border: solid 1px #1B50BA;
		border-radius: 1px;
		box-sizing: border-box;	
	}

	&__button {	
		@extend .buttonBase;
		font-size: 10pt;
		width: 24%;
		float: right;
		margin: 2px 0px;
		border-radius: 2px;
		border: solid 1px $buttonColor;

		&:hover {
			@extend .submitHover;
		}
	}

	
}

