@import 'chat';

@mixin game-panel() {
	line-height: 60px;
	text-align: center;
}

.game {
	overflow: hidden;
	width: 850px;
	
	margin: 0 auto;
	position: relative;	
	background-color: #EEEEFF;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
	@include roundedBottom(20px);


	&__clear {
		@extend .controlButton;
		vertical-align: middle;
				
		&:hover {
			background-color: $buttonHoverColor;
		}
	}

	&__colorselect {
		@extend .controlPanelElem;
		vertical-align: middle;
		background-color: $buttonColor;
		border: solid 1px $buttonColor;
		border-radius: 5px;
		margin: 0 .7em 0 0;
	}

	&__eraser {
		@extend .controlButton;
		vertical-align: middle;
		margin: 0 .7em 0 0;
		
		&_on {
			background-color: $buttonEraserOn;
		}
	}

	&__controlpanel {
		@include game-panel();
		float: left;
		width: $paintareaWidth + 2 * $paintareaMargin;
		margin-left: 10px;
		@include rounded($rightBorderRadius); 
		background-color: $gamePanelColor;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}

	&__header {
		width: 30%;
		height: 30px;
		line-height: 30px;
		color: white;
		border-radius: 0 10px 10px 0;
		background: $buttonHoverColor;
	}

	&__playground {
		overflow: hidden;
		position: relative;
		margin-bottom: 15px;
	}

	&__panels {
		overflow: hidden;
		padding: 11px 0;
	}

	&__paneltext {
		color: white;
		margin: 0 .7em 0 0;
	}

	&__widthselect {
		@extend .controlPanelElem;
		max-width: $paintareaWidth * 0.2;
		vertical-align: middle;
		margin: 0 .7em 0 0;
	}

	&__guesspanel {
		@include game-panel();
		float: right;
		width: $userschatWidth + 2*$userschatPadding;
		margin: 0 10px 0 0;
	}

	&__guessbutton {
		@extend .controlButton;
		font-size: 15pt;
		vertical-align: middle;
		background-color: #43908D;
		border-radius: 5px;

		&:hover {
			background-color: #326b69;
		}
	}

	&__menubutton {
		position: absolute;
		top: 0px;
		right: 7px;
		@extend .returnbutton;
		margin-top: 20px;
		margin-bottom: 20px;

		&:hover {
			@extend .buttonHover;
		}
	}
	
}
