@import 'chat';

.game {
	overflow: hidden;
	width: 850px;
	
	margin: 0 auto;
	position: relative;	
	background-color: #EEEEFF;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
	
	@include roundedBottom(20px); 



	&__button {
		@extend .controlButton;
				
		&:hover {
			background-color: $buttonHoverColor;
			border: solid 5px $buttonHoverColor;
		}
	}

	&__colorselect {
		@extend .controlPanelElem;
		vertical-align: bottom;	
		background-color: $buttonColor;
		border: solid 1px $buttonColor;
		border-radius: 5px;
	}

	&__eraser {
		@extend .controlButton;
		
		&-on {
			border: solid 5px $buttonEraserOn;
			background-color: $buttonEraserOn;			
		}
		
	}

	&__controlpanel {
		background-color: $gamePanelColor;		
		@include rounded($rightBorderRadius); 
		float: left;
		width: $paintareaWidth + 2*$paintareaMargin;
		margin-left: 10px;
		text-align: center;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		display: inline-block;
	}	

	&__header {
		width: 30%;
		height: 30px;
		line-height: 30px;
		color: white;
		border-radius: 0 10px 10px 0;
		background: $buttonHoverColor;
	}

	&__playground {		
		overflow: hidden;
		position: relative;
		margin-bottom: 15px;
	}

	&__paneltext {
		color: white;
	}

	&__widthselect {
		@extend .controlPanelElem;
		max-width: $paintareaWidth * 0.2;
		vertical-align: bottom;
	}

	&__guesspanel {			
		display: inline-block;
		width: $userschatWidth + 2*$userschatPadding;
		margin-left: 20px;
		text-align: center;
	}

	&__guessbutton {
		@extend .controlPanelElem;
		font-family: $font;
		font-size: 12pt;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
		font-size: 12pt;
		background-color: #43908D;
		border-radius: 5px;
		border: solid 5px #43908D;
		&:hover {
			background-color: #43908D;
			border: solid 5px #43908D;
		}
	}

	

	&__menubutton {
		@extend .returnbutton;
		margin-top: 20px;
		margin-bottom: 20px;

		&:hover {
			@extend .buttonHover;
		}
	}
	
}







