@import 'chat';

.game {
	overflow: hidden;
	width: 850px;
	margin: 0 auto;
	position: relative;	

	&__header {
		color: white;
	}

	&__playground {
		overflow: hidden;
		position: relative;
	}

	&__controlpanel {
		background-color: $gamePanelColor;		
		@include roundedBottom(20px); 
		float: left;
		width: $paintareaWidth + 2*$paintareaMargin;
		margin-left: 10px;
		text-align: center;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		display: inline-block;
	}

	&__paneltext {
		color: white;
	}

	&__colorselect {
		@extend .controlPanelElem;
		vertical-align: bottom;	
		background-color: $buttonColor;
		border: solid 1px $buttonColor;
	}

	&__widthselect {
		@extend .controlPanelElem;
		vertical-align: bottom;
	}

	&__guesspanel {	
		background-color: $gamePanelColor;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		@include roundedBottom(20px); 
		display: inline-block;
		width: $userschatWidth + 2*$userschatPadding;
		margin-left: 20px;
		text-align: center;
	}

	&__button {
		@extend .controlPanelElem;
		font-family: $font;
		font-size: 12pt;
		background-color: $buttonColor;
		border-radius: 5px;
		border: solid 5px $buttonColor;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
		
		&:hover {
			background-color: $buttonHoverColor;
			border: solid 5px $buttonHoverColor;
		}
	}	

	&__menubutton {
		@extend .returnbutton;
		margin-top: 20px;

		&:hover {
			@extend .buttonHover;
		}
	}
	
}







