.game__paneltext {
	color: white;
}

.game__playground {
	overflow: hidden;
	position: relative;
}

.game__controlpanel {
	float: left;
	width: 506px;
	text-align: center;
}

.game__guesspanel {	
	text-align: center;
}

.game__button {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12pt;
	margin: 10px;
	height: 30px;
	background-color: #003399;
	border-radius: 5px;
	border: solid 5px #003399;
	color: white;
}

.game__colorselect {
	vertical-align: bottom;
	margin: 10px;
	height: 30px;
	background-color: #003399;
	border: solid 1px #003399;
	color: white;
}

.game__widthselect {
	vertical-align: bottom;
	margin: 10px;
	height: 30px;
}


.game__button:hover {
	background-color: #111166;
	border: solid 5px #111166;
}

.game {
	overflow: hidden;
	width: 800px;
	margin: 0 auto;
	position: relative;	
}

.paintarea {	
	background-color: white;
	float: left;
	height: 400px;
	left: 0;
	display: inline-block;
	width: 500px;
	border: solid 3px #B2D1FF; 
	border-radius: 5px;
}

.paintarea__canvas {	
	cursor: default;
	position: absolute;
}


.userschat {
	height: 100%;
	position: absolute;
	float: left;
	padding: 3px;
	display: inline-block;
	width: 250px;
	margin: 0 0 0 20px;
}

.users {
	font-size: 12pt; 
	margin-right: 10px;
	margin-left: 10px;
	color: white;
	overflow: auto;
}

.chat {
	position: absolute;
	margin: 5px;
	bottom: 0px;
}

.chat__area {
	overflow-y: auto;
	word-wrap: break-word; 
	width: 240px;
	height: 200px;	
	background-color: white;
	border: solid 1px #8B8989;
	border-radius: 5px;
}

.chat__input {
	display: block;
	float: left;
	width: 75%;
	padding-right: 0px;
	padding-left: 0px;
	box-sizing: border-box;	
}

.chat__button {	
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 10pt;
	width: 25%;
	float: right;
	margin: 2px 0px;
	background-color: #003399;
	border-radius: 5px;
	border: solid 1px #003399;
	color: white;
}

.chat__button:hover {
	background-color: #111166;
	border: solid 1px #111166;
}

.chat__message {
	margin: 0px;
	font-size: 10pt;
	font-style: italic;
	color: #000000;

}

