.gameover {

	@extend .background;

	&__input {
		visibility: hidden;
		display: block;
		margin: auto;
		width: 50%;
	}

	&__submit {
		@extend .submit;

		&:hover {
			@extend .submitHover;
		}
	}

	&__menubutton {
		@extend .returnbutton;	
		margin-bottom: 20px;
		
		&:hover {
			@extend .buttonHover;	
		}
	}

}


