@import 'chat';

.game {
	overflow: hidden;
	width: 850px;
	margin: 0 auto;
	position: relative;	
	background-color: #EEEEFF;
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
	@include roundedBottom(20px); 

	&__header {
		width: 30%;
		height: 30px;
		line-height: 30px;
		color: white;
		border-radius: 0 10px 10px 0;
		background: $buttonHoverColor;
	}

	&__playground {		
		overflow: hidden;
		position: relative;
		margin-bottom: 15px;
	}

	&__controlpanel {
		background-color: $gamePanelColor;		
		@include rounded($rightBorderRadius); 
		float: left;
		width: $paintareaWidth + 2*$paintareaMargin;
		margin-left: 10px;
		text-align: center;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		display: inline-block;
	}

	&__paneltext {
		color: white;
	}

	&__colorselect {
		@extend .controlPanelElem;
		vertical-align: bottom;	
		background-color: $buttonColor;
		border: solid 1px $buttonColor;
	}

	&__widthselect {
		@extend .controlPanelElem;
		vertical-align: bottom;
	}

	&__guesspanel {			
		display: inline-block;
		width: $userschatWidth + 2*$userschatPadding;
		margin-left: 20px;
		text-align: center;
	}

	&__button {
		@extend .controlPanelElem;
		font-family: $font;
		font-size: 12pt;
		background-color: $buttonColor;
		border-radius: 5px;
		border: solid 5px $buttonColor;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
		
		&:hover {
			background-color: $buttonHoverColor;
			border: solid 5px $buttonHoverColor;
		}
	}	

	&__guessbutton {
		@extend .controlPanelElem;
		font-family: $font;
		font-size: 12pt;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
		font-size: 12pt;
		background-color: #215F16;
		border-radius: 5px;
		border: solid 5px #215F16;
		&:hover {
			background-color: #3D992D;
			border: solid 5px #3D992D;
		}
	}

	

	&__menubutton {
		@extend .returnbutton;
		margin-top: 20px;
		margin-bottom: 20px;

		&:hover {
			@extend .buttonHover;
		}
	}
	
}







