$greetingBackgroundColor: #8A8AAE;
$greetingBorderColor: #1F3256;

.greeting {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, .8);
	z-index: 1000;
	transition: opacity 650ms;

	&_hidden {
		opacity: 0;
	}

	&__window {
		width: 600px;
		padding: 25px 30px 30px;
		margin: 90px auto 0;
		@include rounded (5px);
		border: 1px solid $greetingBorderColor;
		background-color: $greetingBackgroundColor;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
		transition: margin-top 650ms;

		.greeting_hidden & {
			margin-top: -600px;
		}
	}

	&__header {
		color: #fff;
	}

	&__message {
		text-align: justify;
		font-family: arial,helvetica,sans-serif;
		margin: 15px 0;
		line-height: 1.3;
	}

	&__note {
		font-size: 10pt;
		margin: 2px 0 0;
		font-family: sans;
	}

	&__ok {
		@extend .controlButton;
		display: block;
		margin: 25px auto 0;
		padding: 7px 15px;
	}
}