
.loginbackground {
	@extend .background;
}

.login {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 325px;
	
	&__form {
		margin-top: 40px; 	
	}

	&__label {
		@extend .formLabel;
		width: 75px;
	}

	&__input {
		@extend .formInput;
	}

	&__submit {
		@extend .submit;
		margin-top: 40px;
		
		&:hover {
			@extend .submitHover;
		}	
	}

	
	&__menubutton {
		@extend .returnbutton;	
		
		&:hover {
			@extend .buttonHover;	
		}
	}
}




