@import 'variables';

@import 'base';

@import 'game';
@import 'gameover';
@import 'gauge';
@import 'login';
@import 'menu';
@import 'signup';
@import 'scoreboard';
@import 'paintarea';
@import 'mobile';


h1 {
	margin-top: 0px;
}

h1, h2, h3 {
	text-align: center;
}

p, li {
	color: white;
}

body,html {
	height: 100%;
	margin: 0;
}




.cassandra {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	min-height: 100%;
	min-width: 850px;

	background-color: $backgroundColor;
	background-image: $backgroundImage;
	background-repeat: no-repeat;
	background-attachment: fixed;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: $font;
}
