@import 'variables';

@import 'base';

@import 'game';
@import 'gameover';
@import 'gauge';
@import 'login';
@import 'menu';
@import 'signup';
@import 'scoreboard';
@import 'paintarea';


h1 {
	margin-top: 0px;
}

h1, h2, h3 {
	text-align: center;
}

p, li {
	color: white;
}

body,html {
	height: 100%;
	margin: 0;
}

.cassandra {
	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
	min-height: 100%;
	min-width: 850px;
	//background-color: $backgroundColor; 
	background-color: #36446E;
	background: $backgroundImage;
	font-family: $font;	
}
