.menu {
	@extend .background;

	.menu__buttonpanel {
		margin-bottom: 20px;
	}

	.menu__button {
		@extend .button;
		line-height: 40px;	
	}

	.menu__button:hover {
		background-color:  $buttonHoverColor;
	}

}
