.menu {
	@extend .background;

	&__buttonpanel {
		margin-bottom: 20px;
	}

	&__button {
		@extend .button;
		line-height: 40px;

		&:hover {
			background-color: $buttonHoverColor;
		}
	}

	&__hr {
		margin: 20px auto;
		height: 1px;
		border: 0;
		border-top: 1px solid;
		width: 75%;
		border-color: #C8C8C8;
	}
}


@media handheld {
	.menu__desktop {
		display: none;
	}
}

@media screen {
	.menu__mobile {
		display: none;
	}
}