.paintarea {	
	background-color: white;
	float: left;
	height: $paintareaHeight;
	width: $paintareaWidth;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	left: 0;
	display: inline-block;
	border: solid $paintareaMargin $gamePanelColor; 
	@include rounded(5px); 
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	overflow: visible; 

	&__canvas {	
		cursor: default;
		position: absolute;
	}
}


