$headerBackground: #6699FF;
$rowBackground: #003399;
$rowTextColor: #002061;

.scoretableItem {
	border: 1px solid white;	
}

.scoretableHeadItem {	
	@extend .scoretableItem;
	background-color: $rowBackground;
	color: white;
	text-align: center;
}

.scoretableBodyItem {
	@extend .scoretableItem;
	background-color: $headerBackground;
	color: $rowTextColor;
}

.scoreboardbackground {
	@extend .background;
	
	.scoreboard {
		margin-bottom: 20px;
		.scoretable {
			border: 0px solid white;
		    color: white;	
			margin: 0 auto; 
			margin-bottom: 20px;
			width: 200px;	
			.scoretablehead {
				.scoretablehead__left {
					@extend .scoretableHeadItem;
					width: 60%;
					
				}
				.scoretablehead__right {
					@extend .scoretableHeadItem;
				}				
			}

			.scoretable__left {
				@extend .scoretableBodyItem;
				width: 60%;
				text-align: left;
			}

			.scoretable__right {
				@extend .scoretableBodyItem;
				text-align: center;	
			}
		}

		.scoreboard__menubutton {
			@extend .returnbutton;			
		}

		.scoreboard__menubutton:hover {
			@extend .buttonHover;			
		}	
	}
}








