$headerBackground: #6699FF;
$rowBackground: #003399;
$rowTextColor: #002061;

.scoretableItem {
	border: 1px solid $buttonHoverColor;	
}

.scoretableHeadItem {	
	@extend .scoretableItem;
	background-color: $rowBackground;
	color: white;
	text-align: center;
}

.scoretableBodyItem {
	@extend .scoretableItem;
	// min-height: 22px;
	background-color: $headerBackground;
	color: $rowTextColor;
}

.scoreboardbackground {
	@extend .background;
}

.scoreboard {
	margin-bottom: 20px;

	&__menubutton {
		@extend .returnbutton;			

		&:hover {
			@extend .buttonHover;			
		}	
	}

}


.scoretable {
	border: 0px solid white;
    color: white;	
	margin: 0 auto; 
	margin-bottom: 20px;
	width: 200px;	
	
	&__left {
		@extend .scoretableBodyItem;
		width: 60%;
		text-align: left;
	}

	&__right {
		@extend .scoretableBodyItem;
		text-align: center;	
	}
}

.scoretablehead {
	&__left {
		@extend .scoretableHeadItem;
		width: 60%;
		
	}
	
	&__right {
		@extend .scoretableHeadItem;
	}				
}





