.signupbackground {
	@extend .background;
}
.signup {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 350px;

	&__errormsg {
		text-align: center;
		color: red;
	}
	
	&__form {

	}

	&__menubutton {
		@extend .returnbutton;	
		
		&:hover {
			@extend .buttonHover;	
		}
	}	

	&__label {
		@extend .formLabel;
		width: 100px;
	}

	&__input {
		@extend .formInput;
	}

	&__submit {
		@extend .submit;
		margin-top: 40px;
		
		&:hover {
			@extend .submitHover;
		}
	}

	
}





