.signupbackground {
	@extend .background;

	.signup {
		margin: 0 auto;
		margin-bottom: 20px;
		width: 350px;
		.signup__form {
			.signup__label {
				@extend .formLabel;
				width: 100px;
			}

			.signup__input {
				@extend .formInput;
			}

			.signup__submit {
				@extend .submit;
				margin-top: 40px;
			}

			.signup__submit:hover {
				@extend .submitHover;
			}
		}

		.signup__menubutton {
			@extend .returnbutton;	
		}

		.signup__menubutton:hover {
			@extend .buttonHover;	
		}
	}
}




