$font: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$backgroundImage: url("../images/triangles.jpg");
$backgroundColor: #E0E0FF;

$menuColor: #EEEEFF; 
$menuTextColor: #8796B3;

$rightBorderRadius: 5px;

$gamePanelColor: #C1C9E0;

$buttonColor: #516B9E;
$buttonHoverColor: #585886;
$buttonWidth: 180px;
$buttonHeight: 40px;
$buttonRadius: 7px;

$buttonEraserOn: #000051;

$paintareaWidth: 550px;
$paintareaMargin: 3px;
$paintareaHeight: 400px;

$userschatWidth: 252px;
$userschatPadding: 0px;