$font: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$backgroundImage: url("../images/stars.jpg") repeat;
$backgroundColor: #3366FF;

$menuColor: #EEEEFF; //#6F91FA;
$menuTextColor: #6B98F0;

$gamePanelColor: #6F91FA;

$buttonColor: #003399;
$buttonHoverColor: #111166;
$buttonWidth: 180px;
$buttonHeight: 40px;
$buttonRadius: 10px;

$paintareaWidth: 500px;
$paintareaMargin: 3px;
$paintareaHeight: 400px;

$userschatWidth: 250px;
$userschatPadding: 3px;