$font: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$backgroundImage: url("../images/stars.jpg") repeat;
$backgroundColor: #3366FF;

$menuColor: #EEEEFF; 
$menuTextColor: #6B98F0;

$rightBorderRadius: 5px;

$gamePanelColor: #6F91FA;

$buttonColor: #003399;
$buttonHoverColor: #111166;
$buttonWidth: 180px;
$buttonHeight: 40px;
$buttonRadius: 7px;

$paintareaWidth: 550px;
$paintareaMargin: 3px;
$paintareaHeight: 400px;

$userschatWidth: 252px;
$userschatPadding: 0px;